// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyDKggFC_gqGHt11HHlPP26624ote1Ari0U",
  authDomain: "blida2-registration-form.firebaseapp.com",
  projectId: "blida2-registration-form",
  storageBucket: "blida2-registration-form.firebasestorage.app",
  messagingSenderId: "192098933277",
  appId: "1:192098933277:web:c4cace0df7629bc84a04f4"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);